<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div class="ui inverted fixed menu">
        <div class="header item"> Exercices 2</div>
    </div>
    <div class="ui main container" id="app">
        <input type="checkbox" v-model="success">
        <input type="text" v-model="message">
        {{message}}
       <div class="ui message" :class="cls">
           Hello
       </div>
       Prénom: {{firstname}} <br>
       Nom: {{lastname}} <br>
       Nom Complet: <input type="text" v-model="fullname">


       <button v-bind:class= "{red,green}" v-on:click="testColor()">coucou</button>
    </div>
    


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>